* {
  font-family: Arial;
  font-size: 15px;
}
html, body, #app {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

button {
  box-sizing: border-box;
  margin: 0;
  padding: 0 16px;
  height: 32px;
  border: solid 1px #ccc;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  border: solid 1px #66f;
  color: #66f;
  background-color: #f9f9ff;
}
.primary {
  border: solid 1px #33f;
  background-color: #66f;
  color: #fff;
}

#app {
  position: relative;
  display: flex;
}

.app-header {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%; 
  height: 44px;
  /*top: 0; */
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 8px #ccc;
}

.app-menu {
  position: relative;
  box-sizing: border-box;
  width: 256px;
  min-width: 256px;
  overflow-y: auto;
  margin: 44px 0 44px 0;
  padding: 0;
  background-color: #f3f3f3;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  /*border-right: solid 1px #ddd;*/
}
.app-menu.hide {
  display: none;
}

/*
 *************************************/
.app-content {
  position: relative;
  /*position: absolute;*/
  box-sizing: border-box;
  margin: 44px 0 0 0;
  padding: 12px 12px 320px 12px;
  background-color: #fafafa;
  overflow: auto;
  flex-grow: 1;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

/* header 
 *************************************/
.app-logo {
  box-sizing: border-box;
  width: 256px;
  text-align: center;
}

.app-humberger {
  width: 52px;
  text-align: center;
}

.app-path {
  flex-grow: 10;
}

.app-user {
  /*width: 44px;*/
  padding-right: 12px;
}

.app-help {
  width: 44px;
}

.app-setting {
  width: 44px;
}

/* menu
 *************************************/
.menu-group-title {
  padding: 12px 16px;
  cursor: pointer;
  color: #666;
}
.menu-group-title:hover, .menu-item:hover {
  background-color: #d9d9d9;
}
.menu-group-title:after {
  font-family: "fontello";
  content: '\f107';
  position: absolute;
  right: 12px;
}
.menu-group-title.open:after {
  content: '\f106';
}
.menu-group-title.open + .menu-group {
  display: block;
}
.menu-group {
  display: none;
}
.menu-item {
  box-sizing: border-box;
  padding: 12px 16px 12px 16px;
  height: 40px;
  color: #666;
  cursor: pointer;
  background-color: #e9e9e9;
}
.menu-item.open {
  background-color: #e0e0e0;
  /*font-weight: 800;*/
  color: #35d;
  border-left: 4px solid #66f;
  padding: 12px 16px 12px 12px;
}
.menu-group > .menu-item {
  padding: 12px 16px 12px 44px;
}

.app-copyright {
  box-sizing: border-box;
  position: fixed;
  margin: 0;
  padding: 12px;
  width: 256px;
  height: 44px;
  bottom: 0;
  /*border-top: 1px solid #ddd;*/
  background-color: #eee;
  text-align: center;
}

/* pagination
 *************************************/
.pagination {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  height: 32px;
  border: solid 1px #ccc;
  border-radius: 4px;
  margin: 0; padding: 0;
}
.pagination > button {
  border-style: none;
  margin: -3px;
}
/* forms
 *************************************/
.form.text {
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  margin: 32px 0; padding: 0;
  border: solid 1px #ddd;
  border-radius: 4px;
  background-color: #fff;
  height: 32px;
}
.form.text > input {
  margin: 0; padding: 0;
  font-size: 15px;
  padding: 0 12px;
  border-style: none;
  color: #333;
  background-color: transparent;
  outline: none;
}
.form.text > span {
  display: block;
  background-color: #ddd;
  /*padding: 0 8px;*/
  /*align-self: stretch;*/
}

.divider-v {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 8px;
  width: 1px;
  height: 28px;
  /*border-right: solid 1px 333;*/
  background-color: #999;
}
