
.alt-svg-back   { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M5%2C3V0L1%2C4l4%2C4V5c0%2C0%2C6%2C0%2C6%2C3s-5%2C4-5%2C4v2c0%2C0%2C7-1%2C7-6C13%2C4%2C8%2C3%2C5%2C3z%22%2F%3E%3C%2Fsvg%3E");} 
.png-back   {background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAJJJREFUOMtjYEAD////b2AgFYA0AfF/sjSRpBFZExT8AeLXQHwciCcAsQOxGrGBM0CsS0gzKxBLA7ELELcC8VOo+Ccg1iY6cIBCXEC8Fqp5M05n4xCXgGr8TGqoC5OrsRGqcS+xGkABVQ/E/6AaXQlpUATiYiC+C9UA0lhKjE3I4CYQexDrxGdAvBSIfYGYCV0eAL8TDNuB31nNAAAAAElFTkSuQmCC");}

* {
  font-family: Arial;
  font-size: 14px;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*background-color: #fff;*/
  background-color: #f9f9f9;
}
section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  background-color: #fff;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
header {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;

  /*justify-content: space-around;*/
  justify-content: space-between;
  align-items: stretch;

  /*font-size: 22px;*/
  background-color: #f9f9f9;
  border-bottom: 1px solid #f00;
  line-height: 44px;
}
.header-center {
  font-weight: bold;
}
.header-left {
  padding: 0 4px;  
}
.header-right {
  padding: 0 4px;  
}
footer {
  box-sizing: border-box;
  position: absolute;
  display: block;
  display: flex;
  /*top: auto;*/
  left: 0;
  right: 0;
  bottom: 0;
  height: 44px;
  line-height: 44px;
  padding: 4px;
  /*justify-content: space-around;*/
  justify-content: space-between;
  background-color: #f9f9f9;
  border-top: 1px solid #f00;
}
main {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.main-with-footer {
  bottom: 44px !important;
}
button {
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid #f00;
  border-radius: 4px;
  height: 36px;
  background-color: #fff;
  color: #f00;
}
input[type=text], input[type=password] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  /*line-height: 32px;*/
  height: 36px;
  padding: 4px 8px;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  min-height: 88px;
  background-color: #eee;
  border: solid 0px #ccc;
  padding: 8px;
}
ol, ul {
  margin: 0;
  padding: 0;

}
li {
  box-sizing: border-box;
  list-style: none;
  border-bottom: 1px solid #ccc;
  min-height: 44px;
}
.item {
  display: flex;
  justify-content: space-between;
  /*line-height: 43px;*/
  align-items: center;
  box-sizing: border-box;
  min-height: 44px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.item.chevron {
  margin-right: 16px;
}
.item-2 {
  box-sizing: border-box;
  min-height: 44px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.chevron:after {
  content: '▶︎';
  position: absolute;
  right: 8px;
  color: #f00;
  text-align: right;
  vertical-align: middle;
}
.btn-back {
  background-color: inherit;
  border: 0 solid #fff;
  line-height: 32px;
  width: 44px;
  height: 44px;
  color: #f66;
  text-align: center;
}
.page-current { visibility: visible; z-index: 1; }
.to-left  {-webkit-animation: toLeft .4s ease both;   animation: toLeft .4s ease both;}
.from-left  {-webkit-animation: fromLeft .4s ease both; animation: fromLeft .4s ease both;}
.to-right   {-webkit-animation: toRight .4s ease both;  animation: toRight .4s ease both;}
.from-right {-webkit-animation: fromRight .4s ease both; animation: fromRight .4s ease both;}
@-webkit-keyframes toLeft {from {} to { -webkit-transform: translateX(-100%); }}
@-webkit-keyframes toRight  {from {} to { -webkit-transform: translateX(100%); }}
@-webkit-keyframes fromLeft {from { -webkit-transform: translateX(-100%); }}
@-webkit-keyframes fromRight{from { -webkit-transform: translateX(100%); } }
@keyframes toLeft  {from {} to { -webkit-transform: translateX(-100%); transform: translateX(-100%);}}
@keyframes toRight {from {} to { -webkit-transform: translateX(100%);  transform: translateX(100%);}}
@keyframes fromLeft  {from{ -webkit-transform: translateX(-100%); transform: translateX(-100%);}}
@keyframes fromRight {from{ -webkit-transform: translateX(100%);  transform: translateX(100%);}}



.lbl {
  color: #444;
  /*font-weight: bold;*/
  white-space: nowrap;
}
.dat {
  padding-left: 8px;
  text-align: right;
}
.c-6 {
  float: left;
  width: 49%;
}
.c-6 button {
  width: 100%;
  margin: 4px;
}

.dialog {
  display: none;
}
.dlg-frame button {
  min-width: 49%;
  width: 49%;
}
#dialog-base {
  z-index: 100;
  background-color: rgba(0,0,0,.125);
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  /*padding: 44px;*/
  display: none;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}
.dlg-frame {
  box-sizing: border-box;
  width: calc(100% - 88px);
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgba(0,0,0,.5);
}
.dlg-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.dlg-message {
  margin: 8px 0 16px 0;
  max-height: 256px;
  overflow: auto;
}

.l-01 {
  display: inline-block;
  width: 110px;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 4px 0px 8px;
  /*border: 1px solid #00f;*/
  line-height: 22px;
}
.l-02 {
  display: inline-block;
  width: 50px;
  padding: 4px 4px 0px 4px;
  text-align: right;
  color: #666;
  /*border: 1px solid #00f;*/
  line-height: 22px;
}
.l-03 {
  display: inline-block;
  width: 100px;
  padding: 4px 8px 0px 4px;
  /*border: 1px solid #00f;*/
  line-height: 22px;
}
.l-04 {
  display: inline-block;
  width: 90px;
  color: #666;
  /*border: 1px solid #00f;*/
  padding: 0px 8px 4px;
  line-height: 21px;
}
.l-05 {
  display: inline-block;
  max-width: calc(100% - 110px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 8px 4px 4px;
  /*color: #999;*/
  /*border: 1px solid #00f;*/
  line-height: 21px;
}

.spacer {
  height: 200px;
}
